
<h1><%= t('.station')%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.titles')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @railway_stations %>
  </tbody>
</table>

<br>

<%= link_to t('.title'), new_admin_railway_station_path %><br>
<%= link_to t('common.back'), root_path %>
