<h1><%= t('.title')%> №<%= @carriage.number %></h1>

<p>
  <%= t('.train')%>: <%= @carriage.train.number %>
</p>

<p>
  <%= t('.top_seats')%>: <%= @carriage.top_seats %>
</p>

<p>
  <%= t('.bottom_seats')%>: <%= @carriage.bottom_seats %>
</p>

<p>
  <%= t('.side_top_seats')%>: <%= @carriage.side_top_seats %>
</p>

<p>
  <%= t('.side_bottom_seats')%>: <%= @carriage.side_bottom_seats %>
</p>

<%= link_to t('common.back'), [:admin, @carriage.train] %>
