<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Railway stations on this route:</strong>
    <% if @route.railway_stations.empty? %><br>
      The railway station list is empty
    <% else %>
      <ul>
        <% @route.railway_stations.each do |rs| %>
          <li><%= rs.title %></li>
        <% end %>  
      </ul>
    <% end %>
</p>
<p>
  <strong>Trains that follow this route:</strong>
    <% if @route.trains.empty? %><br>
      The train list is empty
    <% else %>
      <ul>
        <% @route.trains.each do |t| %>
          <li><%= t.number %></li>
        <% end %>  
      </ul>
    <% end %>
</p>

<%= link_to 'Edit', edit_route_path %>
<%= link_to 'Back', routes_path %>
