<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.number')%>:</strong>
  <%= @train.number %>
</p>

<p>
  <strong><%= t('.station')%>:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Undefined 
  <% end %>  
</p>

<p>
  <strong><%= t('.route')%>:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Undefined route 
  <% end %>  
</p>

  <strong><%= t('.carriages')%></strong>
  <ul>
    <% @train.carriages.each do |car| %> 
      <li><%= link_to " Вагон №#{car.number}", admin_train_carriage_path(@train, car) %></li>
    <% end %>  
  </ul>
</p>

<p>
  <%= link_to t('.add_carriage'), new_admin_train_carriage_path(@train) %>
</p>

<%= link_to t('common.edit'), edit_admin_train_path %>
<%= link_to t('common.back'), admin_trains_path %>
